version: "3.9"

services:
  api:
    # 원래 docker-compose.yml의 api 서비스를 재정의(overwrite)하는 부분
    entrypoint: >
      /bin/sh -c "
        echo '>>> Running makemigrations & migrate...';
        python manage.py makemigrations api;
        python manage.py migrate;
        echo '>>> Migration completed successfully.';
        tail -f /dev/null
      "
#docker compose -f docker-compose.dev.yml -f docker-compose.dev.migrate.yml up api
