services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: drone_sop
      POSTGRES_USER: drone_user
      POSTGRES_PASSWORD: dronepwd
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    ports:
      - "5432:5432"

  api:
    build:
      context: ./apps/api
      dockerfile: Dockerfile
    environment:
      DJANGO_DEBUG: "False"
      DJANGO_ALLOWED_HOSTS: "localhost,127.0.0.1,nginx,api,web"
      FRONTEND_BASE_URL: "http://localhost"
      DJANGO_CORS_ALLOWED_ORIGINS: "http://localhost,http://nginx"
      DJANGO_DB_ENGINE: "django.db.backends.postgresql"
      DJANGO_DB_NAME: "drone_sop"
      DJANGO_DB_USER: "drone_user"
      DJANGO_DB_PASSWORD: "dronepwd"
      DJANGO_DB_HOST: "db"
      DJANGO_DB_PORT: "5432"
      DJANGO_DB_CONN_MAX_AGE: "60"
      DJANGO_SECURE: "False"
      USE_X_FORWARDED_HOST: "True"
      DJANGO_USE_PROXY_SSL_HEADER: "True"
    volumes:
      - api_data:/data
      - api_static:/app/staticfiles
    expose:
      - "8000"
    depends_on:
      - db
    networks:
      - app-network

  web:
    build:
      context: ./apps/web
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_BACKEND_URL: "/api"
    environment:
      NEXT_PUBLIC_BACKEND_URL: "/api"
      BACKEND_API_URL: "http://api:8000"
    depends_on:
      - api
    expose:
      - "3000"
    networks:
      - app-network

  nginx:
    image: nginx:1.27-alpine
    depends_on:
      - web
      - api
    ports:
      - "80:80"
    volumes:
      - ./deploy/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - api_static:/var/www/static:ro
    networks:
      - app-network

volumes:
  api_data:
  api_static:
  postgres_data:

networks:
  app-network:
    driver: bridge
