/* src/app/globals.css */
@import "tailwindcss";
@import "tw-animate-css";
@import "../styles/tokens.css";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
